<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cargoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cargoo!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cargoo.AccountSetting"></activity>
        <activity android:name="com.cargoo.TrackLists" />
        <activity android:name="com.cargoo.AccountActivity" />
        <activity android:name="com.cargoo.ServiceActivity" />
        <activity android:name="com.cargoo.ActivityLoader" />
        <activity android:name="com.cargoo.TrackActivity" />
        <activity android:name="com.cargoo.DetailActivity" />
        <activity android:name="com.cargoo.HistoryActivity" />
        <activity android:name="com.cargoo.DetailProduct" />
        <activity android:name="com.cargoo.ProductPage" />
        <activity android:name="com.cargoo.DetailTracking" />
        <activity android:name="com.cargoo.RegisterActivity" />
        <activity android:name="com.cargoo.LoginActivity" />
        <activity android:name="com.cargoo.HomeActivity" />
        <activity android:name="com.cargoo.SplashLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>